.page{
  @include size(100%,100%);
  @include boxSizing;
  min-width: 1100px;
  .common_content{
    @include size(100%,688px);
    @include boxSizing;
    padding: 30px;
    .common_state{
      @include flexBox(row,center,space-between);
      @include size(100%,35px);
      font-size: 14px;
      border: 1px solid #000;
      padding: 20px 0;
    }
    .common_data{
      @include boxSizing;
      @include size(100%,85%);
      .table_data{
        @include boxSizing;
        border: 1px solid #000;
        height: 90%;
        overflow: auto;
      }
    }
  }
  .el-dialog__header{
    position: relative;
    &::after{
      content: '';
      width: 92%;
      height: 1px;
      background: $darkGray;
      position: absolute;
      bottom: -5px;
      right: 20px;
    }
  }
}