.dashboard{
  width: 100%;
  .content{
    padding: 30px;
    .el-date-editor--daterange.el-input__inner{
      width: 500px;
    }
    h2{
      font-size: 24px;
      font-weight: normal;
    }
    .total{
      div{
        min-width: 170px;
        width: 80%;
      }
      span{
        border: 1px solid #000;
        padding: 50px 70px;
      }
    }
  }
}