.product{
  @include size(100%,100%);
  @include boxSizing;
  .upload-text{
    display: block;
    width: 322px;
    border-radius: 5px;
    overflow: auto;
  }
  .upload{
    @include flexBox(row, center, flex-start);
    @include boxSizing;
    margin-top: 5px;
    .el-input{
      width: 130px;
      margin-right:5px;
    }
  }
  .upload-list{
    @include flexBox(row, center, space-between);
    border: 1px solid #E0E0E0;
    margin: 5px 0;
    width: 300px;
    height: 50px;
    img{
      height: 50px;
    }
    p{
      width: 200px;
      overflow: auto;
    }
    .el-button--small.is-circle{
      padding: 5px;
      border: 0;
      &:hover{
        background: #fff;
      }
    }
  }
  .upload-customize{
    margin-right: 5px;
    @include flexBox(row, center, center);
    position: relative;
    width: 100px;
    height: 30px;
    border: 1px solid #E0E0E0;
    background: #E0E0E0;
    border-radius: 5px;
    font-family: '微軟雅黑體';
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
    }
  }
  .el-dialog{
    .el-table{
      margin-top: 20px;
      @include el-table__border(300px);
      &::before{
        width: 0;
        height: 0;
      }
    }
    .specs{
      .el-input{
        width: 70px;
      }
    }
    .addSpecs{
      .el-input{
        vertical-align: baseline;
        border-radius: 100%;
        margin: 5px;
        .el-input__inner{
          min-width: 80px;
          background:#F0F0F0;
          border:0;
        }
        .el-input-group__append{
          padding: 0 10px;
          background: 	#F0F0F0;
          border: 0;
          .el-button .el-button--defalut{
            width: 30px;
          }
        }
      }
    }
  }
}