.order{
  .el-date-editor--daterange.el-input__inner{
    width: 300px;
  }
  .el-select--small{
    width: 170px;
  }
  .el-dialog{
    .el-form-item{
      &__content{
        @include flexBox(row,center,flex-start);
        .el-select{
          margin-right: 5px;
        }
      }
    }
  }  
}