html, body {
  height: 100%;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}
@mixin position($position, $top, $right, $bottom, $left){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

#app {
  position: relative;
  height: 100%;
  .home{
    @include size(100%,100%);
    white-space:nowrap;
    .guide_line{
      @include boxSizing;
      @include size(100%, 55.5px);
      background: #d3d3d3;
      line-height: 3.4;
      font-size: 17px;
      font-weight:bolder;
      padding-left: 15px;
    }
    #operate{
      text-align: center;
    }
    .el-dialog__body{
      max-height: 410px;
      overflow: scroll;
    }
  }
}